﻿@{
    ViewData["Title"] = "ToDo";
}

<div class="row">
    <div class="col-md-6">
        <div class="todolist not-done">
            <h1>Todos</h1>
            <input type="text" class="form-control add-todo" placeholder="Add todo">

            <hr>
            <ul id="tasks" class="list-unstyled">
              
            </ul>
            <hr>
            <div class="todo-footer">
                <button id="checkAll" class="btn btn-success"><span class="glyphicon glyphicon-check"></span>&nbsp;Mark all as complete</button>
                <button id="deleteAll" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete all</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <!-- Template -->
    <script id="hidden-template" type="text/x-custom-template">
        <li class="ui-state-default" id="template">
            <div class="checkbox">
                <label class="text-value">
                    <input type="checkbox" value="" /><span class="inner-text"></span>
                </label>
                <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span></button>
            </div>

        </li>
    </script>

    <script>

        $(document).ready(function () {

            var template = $('#hidden-template').html();

            $.ajax({

                url: 'https://localhost:44334/api/v1.0/ToDoItems',
                dataType: "json",
                type: "GET",
                success: function (data) {

                    $.each(data, function (index, value) {

                        //Clone the template
                        var item = $(template).clone();

                        $(item).attr("id", value.id);

                        var displayText = value.text;

                        if (value.info != null) {
                            displayText = value.text + ' (' + value.info + ')';
                        }

                        $(item).find('.inner-text').replaceWith(displayText);

                        $('#tasks').append(item);
                    });
                }
                ,
                error: function (xhr) {
                    alert('No Data');
                }
            });
        });

        $("#checkAll").click(function () {
            AllDone();
        });

        $("#deleteAll").click(function () {
            Purge();
        });

        $('.add-todo').on('keypress', function (e) {
            e.preventDefault
            if (e.which == 13) {
                if ($(this).val() != '') {
                    var todo = $(this).val();
                    createTodo(todo);
                } else {
                    // some validation
                }
            }
        });

        // mark task as done
        $('.todolist').on('change', '#tasks li input[type="checkbox"]', function () {
            if ($(this).prop('checked')) {
                var doneItem = $(this).parent().parent().find('label').text();
                $(this).parent().addClass('remove');
                done(doneItem);
            }
            else {

                var doneItem = $(this).parent().parent().find('label').text();
                $(this).parent().removeClass('remove');
                undone(doneItem);
            }
        });

        //delete done task
        $('.todolist').on('click', '.remove-item', function () {
            removeItem(this);
        });


        // TODO: Use a template for the line item markup
        $("#tasks li").on('dblclick', 'label', function () {
            if ($('#temp_enter').length === 0) {
                var original = $(this).text().trim();
                $(this).siblings().remove();
                $(this).replaceWith('<input id="temp_enter" type="text" class="form-control add-todo" value="' + original + '"></input>');

                $("#temp_enter").keyup(function (event) {
                    if (event.which == 13) {
                        var markup = '<li class="ui-state-default"><div class="checkbox"><label><input type="checkbox" value="" />' + $(this).val() + '</label> <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span></button></div></li>';
                        $(this).parent().replaceWith(markup);

                    } else if (event.which == 27) {
                        var markup = '<li class="ui-state-default"><div class="checkbox"><label><input type="checkbox" value="" />' + original + '</label> <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span></button></div></li>';
                        $(this).parent().replaceWith(markup);
                    }
                });

                $("#cancel_inline").click(function () {
                    var markup = '<li class="ui-state-default"><div class="checkbox"><label><input type="checkbox" value="" />' + original + '</label> <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span></button></div></li>';
                    $(this).parent().replaceWith(markup);
                });
            }

        });

        //create task
        function createTodo(text) {

            var markup = '<li class="ui-state-default"><div class="checkbox"><label><input type="checkbox" value="" />' + text + '</label> <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span></button></div></li>';
            $('#tasks').append(markup);

            $('.add-todo').val('');
        }

        //mark task as done
        function done(doneItem) {
            var done = doneItem;
        }

        //mark task as un-done
        function undone(doneItem) {
            var done = doneItem;
        }

        //mark all tasks as done
        function AllDone() {

            $('#tasks li > div > label').each(function () {

                $(this).addClass('remove');
                $(this).children('input').prop("checked", true);

            });

        }
        //remove done task from list
        function removeItem(element) {
            $(element).parent().remove();
        }

        function Purge() {
            $('#tasks li').remove();
        }

    </script>
}