﻿@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<div class="row">
    <div class="col-md-6">
        <div class="todolist not-done">
            <h1>Todos</h1>
            <hr>
            <ul id="tasks" class="list-unstyled">
                @*@foreach (dynamic order in Model.ToDos)
                {
                    <li class="ui-state-default" id="@order.Id">
                        <div class="checkbox">
                            <label class="text-value">
                                <span class="inner-text">@order.Text (@order.Info)</span>
                            </label>
                        </div>
                    </li>
                }*@
            </ul>
        </div>
    </div>
</div>